body {
	background-color: #E4E6F0;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited, a:hover {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* header */

.header {
	display: flex;
	align-items: center;
	height: 80px;
	margin: auto 117px;
}

.header__logo {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #5E81FE;
}

.header__menu {
	display: flex;
	align-items: center;
	margin-left: 73px;
}

.header__menu p {
	margin-right: 42px;
    cursor: pointer;
    user-select: none;
    transition: .2s ease-in-out;
}

.header__menu p:hover {
    color: lightblue;
    font-size: 18px;
    
}

.header__menu:last-child {
	margin-right: 0;
}

.header__contacts {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.header__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	margin-right: 20px;
	cursor: pointer;
}

.header__icon:hover path {
	fill: #6188FF;
}

.header__btn {
	width: 113px;
	height: 43px;
	margin-left: 25px;
    border-radius: 2px;
	background-color: #D2E1FF;
	color: #3A79FF;
}

/* main-slider */

.main-slider {
	display: flex;
	flex-direction: column;
	width: 1440px;
	height: 570px;
	margin: 0 auto;
	background-color: #D2E1FF;
}

.inner {
	height: 264px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 92px auto 0;
}

.title {
	margin: 0 auto 16px;
}

.subtitle {
	margin: 0 auto 28px;
}

.text {
	text-align: center;
	width: 502px;
}

.inner button {
	margin: auto auto 0;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background-color: white;
}

.triangle {
	margin: auto;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-right: 0;
	border-left: 12px solid blue;
}

.slider-dots {
	width: 48px;
	display: flex;
	justify-content: space-between;
	margin: auto auto 28px;
}

.dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: grey;
}

.active {
	background-color: blue;
}

/* partners */

.partners {
	width: 100vw;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: white;
}

.partners__item {
    width: 120px;
    height: 30px;
    margin-right: 70px;
    cursor: pointer;
}

.partners__item:hover path {
	fill:#5982E7;

}

.plan {
	width: 1440px;
	height: 776px;
	margin: 0 auto;
    display: flex;
	align-items: stretch;
    color: #3D4F9F;
}

.plan__left {
	margin: auto 0;
	flex: 1;
}

.plan__inner {
	width: 413px;
	height: 352px;
	margin-left: auto;
}

.plan__suptitle {
    font-size: 12px;
    margin-bottom: 30px;
}

.plan__title {
    font-size: 36px;
    margin-bottom: 30px;
}

.plan__text {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.plan__buttons {
    display: flex;
}

.watch-video {
    width: 130px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #4C85FF;
    border-radius: 3px 0 0 3px;
}

.watch-video p {
    margin-left: 6px;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-right: 0;
	border-left: 12px solid white;
}

.see-features {
	width: 130px;
    height: 43px;
	border: 1px solid #D1D1E4;
}

.plan__right {
	position: relative;
	flex: 1;
}

.plan__right div {
	position: absolute;

	box-shadow: 0px 20px 40px rgba(53, 60, 115, 0.15);
}

.rem-events {
	top: 281px;
	left: 55px;
	z-index: 2;

	border-color: white;
	border-style: solid;
	border-width: 12px 1px 11px 1px;
	border-radius: 15px;
}

.rem-note {
	display: block;
	top: 182px;
	left: 135px;
	z-index: 1;

	border-color: white;
	border-style: solid;
	border-width: 12px 15px 0 15px;
	border-radius: 15px 15px 0 0;
}

.rem-note::after {
	display: block;
	content: "";
	position: absolute;
	bottom: -13px;
	right: -50px;
	width: 606px;
	height: 2px;
	background-color: white;
	border-bottom: 18px solid white;
	border-radius: 0 0 15px 15px;
}

.rem-search {
	top: 335px;
	right: 113px;
	z-index: 2;

	border-color: white;
	border-style: solid;
	border-width: 9px 1px 15px 1px;
	border-radius: 15px;
}

.about {
	width: 1440px;
	height: 885px;
	margin: 0 auto;
	text-align: center;
	background: url(image/about__bg.png) no-repeat;
}

.about__suptitle {
	padding-top: 170px;
	text-transform: uppercase;
	font-size: 10px;
}

.about__title {
	margin-top: 20px;
	font-size: 24px;
}

.about__suptitle {
	padding-top: 170px;
	text-transform: uppercase;
	font-size: 10px;
}

.about__flex {
	display: flex;
	margin-top: 92px;
	justify-content: center;
}

.flex__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 140px;
	margin-right: 67px;
	margin-bottom: 92px;
	position: relative;
}

.flex__item::after {
	display: block;
	content: "";
	position: absolute;
	right: -50px;
	width: 30px;
	height: 2px;
	background-color: #DAE4FE;
}

.flex__item:last-child::after {
	display: none;
}

.flex__item:last-child {
	margin-right: 0;
}

.about__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 69px;
	height: 69px;
	background-color: #F1F5FF;
	border-radius: 50%;
}

.about__title-inner {
	margin: 33px 0 25px 0;
	font-size: 14px;
}

.about__text {
	height: 102px;
	font-size: 11px;
}

.about__footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about__footer p {
	margin: 0 48px;
	text-transform: uppercase;
	position: relative;
}

.about__footer p::before {
	display: block;
	content: "";
	position: absolute;
	top: 8px;
	right: 40px;
	width: 15px;
	height: 2px;
	background-color: #DAE4FE;
}

.about__footer p::after {
	display: block;
	content: "";
	position: absolute;
	top: 8px;
	right: -30px;
	width: 15px;
	height: 2px;
	background-color: #DAE4FE;
}

.about__btn {
	width: 113px;
	height: 43px;
	background-color: #D2E1FF;
	text-align: center;
	border-radius: 2px;

}

.about__btn:hover {
	background-color: #FFD7D7;
}
